.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    font-size: 34px;
    border: 2px solid rgb(228, 33, 33);
    border-radius: 15px;

}
button{
    font-size: 40px;
    background-color: rgb(227, 251, 204);
    width: 102px;
    height: 58px;
    border-radius: 20px;

}
.calculator{
    display: inline-block;
    border: 2px solid rgb(102, 26, 201);
    background-color: rgba(255, 0, 0, 0);
    padding: 23px;
    border: 10px double black;
    border-radius:53px ;
}
body{
    background: linear-gradient(to right, rgb(229, 231, 233) , rgb(156, 215, 88), rgba(183, 156, 237, 0.83));
}